body{
    width: 50vw;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid brown;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    margin-bottom: 20px;
    margin-top: 20px;
    
}

body > div {
    display: grid;

    grid-template-rows: 0.5fr 1fr 3fr 0.5fr;
    place-items: center;

   
    

}


header{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid grey;
}

ul{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;

    border-bottom: 2 solid black;
    list-style: none;
    padding:0;
    margin: 0;
}

li{
        border: 2px solid black;
        height: 30px;
        width: 110px;

        display: flex;
        justify-content: center;
        align-items: center;
        
        
    }

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
}


