body > div {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

header{
    grid-column: span 2;
    display: flex;
    justify-content: center;
}

nav{
    grid-column: 
}}